html {
  height: 100%;
  background-color: #f8f9fd;
}
.container {
  width: 445px;
  margin: 0 auto 0 auto;
}
.title-page {
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
  margin: 72px 0 48px 0;
}
.card {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-header {
  background-color: #f18700;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.card-header img {
  height: 150px;
}
.card-content {
  padding: 48px;
}
.card-content .input-text {
  width: 349px;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 4px 0;
  text-indent: 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
}
.card-content .input-text:focus {
  outline: none !important;
  border: 1px solid #F18700;
}
.card-content .input-button {
  width: 352px;
  background-color: #F18700;
  color: white;
  height: 48px;
  margin: 0 0 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.card-content form .button {
  width: 352px;
  background-color: #fff;
  border: 1px solid #F18700;
  margin: 0 0 2px 0;
  border-radius: 4px;
  color: #F18700;
  height: 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 46px;
}
.card-content form .button img {
  height: 18px;
}
.card-content-footer {
  display: block;
}
.remember-me {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.remember-me input[type=checkbox] {
  accent-color: #F18700;
}
.forgot-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password a {
  text-decoration: none;
  color: #F18700;
  font-size: 16px;
}